==Основным медиатором тормозного действия является:
ацетилхолин
норадреналин
#ГАМК
дофамин
==При поражении отводящего нерва возникает паралич глазодвигательной мышцы:
верхней прямой
межжелудочковая перегородка
верхней косой
#наружной прямой
==При центральном параличе наблюдается:
нарушение чувствительности по полиневритическому типу
нарушения электровозбудимости нервов и мышц
#повышение сухожильных рефлексов
атрофия мышц
